<footer class="footer">
  <div class="container text-center">
    <span class="text-light">
      <small>Copyright &copy; <%= link_to "Trevor DePew", "https://trevordepew.com", class: "text-light" %></small>
    </span>
  </div>
</footer>